.Card_body{
  position: relative;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-bottom: 10px;
  padding: 5px;

  width: 98%;
  height: 70px;
  min-height: 70px;

  border-radius: 10px;
  background: rgb(141, 180, 222);
}